@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Roboto+Mono:wght@100;200;300;500;700&family=Space+Mono:wght@400;700&display=swap');

*{
    font-family: "Space Mono",monospace;
    box-sizing: border-box;
    line-height: 1.6;
    text-decoration: none;
    list-style: none;

}
.talkers{
    text-align: center;
    margin: 7rem 0;
    margin-bottom: 2rem ;
    font-size: 23px;
    color: #4e504d;
    
}
.peeps{
    text-align: center;
    margin: 7rem 0;
    margin-bottom: 2rem ;
    font-size: 24px;
    color: #4e504d;
}
.record{
    text-align: center;
    margin: 7rem 0;
    margin-bottom: 2rem ;
    font-size: 24px;
    color: #4e504d;
}
.price{
    text-align: center;
    margin: 7rem 0;
    margin-bottom: 2rem ;
    font-size: 24px;
    color: #4e504d;
}
.ticket{
    text-align: center;
    font-size: 14px;
    color: #4e504d;
}
.design{
    text-align: center;
    font-size: 14px;
    color: #4e504d;
}
.design p>a{
    color: #4c83ff;
}

img{
    width: 100%;
}
body{
    background-color: blue;
    background: linear-gradient(276deg, rgba(20,20,200,1) 2%, rgba(0,255,254,1) 36%);
}

#whole{
    background-color: white;
    border: 2px solid white; 
    margin: 2rem 2rem;
}

#logo{
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}
#intro .menu{
    /* border: 2px solid green; */
    margin: 3rem;
}
#intro h1{
    display: flex;
    padding: 0 .9rem;
    justify-content: center;
    letter-spacing: .63rem;
    font-size: 22.763px;
    color: #4e504d;
    /* border: 2px solid red */
        
}

#intro p{
    text-align: center;
    /* border: 2px solid red; */
    font-size: 19px;
    color: #4e504d;

}
#banner{
    margin: 3rem auto;
    width: 85vw;
    overflow: hidden;
    /* border: 2px solid red; */
}
#des{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 0 .89rem;
    /* border: 2px solid red; */
}
#des .img-contain{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 2rem;
    /* border: 2px solid red; */
}

#des img{
    width: 10%;
}
#des .img-contain .card .card-content{
    /* border: 2px solid red; */
    padding: 0 none;
    padding-right: 3rem;
    margin: 0 .1rem;
    margin-right: 2rem;
}
#des .img-contain .card .card-content p{
    /* border: 2px solid red; */
    width: 90%;
    font-size: 18px;
    color: #4e504d;
}
#personnel{
    display: flex;
    justify-content: center;
    gap: .1rem;
    /* border: 2px solid red; */
    margin: .9rem 3rem;
    
}
/* #personnel .people{ */
/* } */
#personnel  .people img{
    width: 80%;
    /* border: 2px solid red; */
    margin: 0 1rem;
}

#personnel .names{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #4e504d; 
}
#brands{
    display: flex;
    justify-content: center;
    gap: 0rem;
    /* border: 2px solid red; */
    align-items: center;
    margin: 0 3rem;
}
#brands .brand img{
    width: 50%;
    margin: 1rem 2rem;
}
#comments{
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    gap: 1rem;
    font-size: 17px;
    color: #4e504d;
}
#comments .speech p{
    margin: 0 1rem;
    gap: .1rem;
    /* border: 2px solid red; */
}
#comments .speech .name h1{
    letter-spacing: .2rem;
    margin: 0 1rem;
}
#form{
    display: flex;
    justify-content: center;
    gap: 8rem;
    color: white;
    /* margin: 0 1rem; */
    margin-right: 8rem;
}
#form .form-content form button{
    width: 150%;
    height: 9vh;
    background: transparent;
    border: 1px solid #858080;
    border-radius: .3rem;
    padding: 0 .6rem;
    cursor: pointer;
}
#form .form-content .f2 form button{
    width: 150%;
    height: 9vh;
    background: #4c83ff;
    border: 1px solid #858080;
    border-radius: .3rem;
    padding: 0 .6rem;
    cursor: pointer;
    /* border: 2px solid red; */
}
#form .form-content .f2 form button>a{
    color: white;
    font-size: 18px;
}
#form .form-content form button>a{
    font-size: 19px;
    color: #4e504d
}

#form .form-content form button:hover{
    border: 1px solid black;
}
#form .form-content .f2 form button:hover{
    background-color: blue;
}

